{% extends 'base.html.twig' %}

{% block title %}My account - Ecommerce website{% endblock %}

{% block content %}
<h1>My Account</h1>
    Welcome {{ app.user.firstname }} in your account</br>
<a href="{{ path('account_password') }}">Modify your password</a>
{% endblock %}
